@{
    ViewData["Title"] = "Bio";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>

    <div class="row">
        <div class="card">
            <img class="card-img-top" src="~/images/warehouse.jpg" alt="Warehouse">
            <div class="card-block">
                <h4 class="card-title">Ayi Ajavin</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <img class="card-img-bottom" src="..." alt="Card image cap">
        </div>
    </div>

    <div class="row">
        <div class="card">
            <img class="card-img-top" src="~/images/warehouse.jpg" alt="Warehouse">
            <div class="card-block">
                <h4 class="card-title">Francis Grignon</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <img class="card-img-top" src="~/images/warehouse.jpg" alt="Warehouse">
            <div class="card-block">
                <h4 class="card-title">Stéphanie Mallet</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <img class="card-img-bottom" src="..." alt="Card image cap">
        </div>
    </div>

    <div class="row">
        <div class="card">
            <img class="card-img-top" src="~/images/warehouse.jpg" alt="Warehouse">
            <div class="card-block">
                <h4 class="card-title">Travis McFarlane</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <img class="card-img-bottom" src="..." alt="Card image cap">
        </div>
    </div>

    <div class="row">
        <div class="card">
            <img class="card-img-top" src="~/images/warehouse.jpg" alt="Warehouse">
            <div class="card-block">
                <h4 class="card-title">Li Wang</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <img class="card-img-bottom" src="..." alt="Card image cap">
        </div>
    </div>
</div>