@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Contact";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
   

    <div class="row">
        <div class="col-12 contact">
            <h3>Ayi Ajavin</h3>
            <a href="mailto:ayi.ajavon@canada.ca">ayi.ajavon@canada.ca</a>
        </div>
    </div>
    <div class="row">

        <div class="col-12 contact">
            <h3>Francis Grignon</h3>
            <a href="mailto:francis.grignon@canada.ca">francis.grignon@canada.ca</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 contact">
            <h3>Stéphanie Mallet</h3>
            <a href="mailto:stephanie.maillet@canada.ca">stephanie.maillet@canada.ca</a>
        </div>

    </div>
    <div class="row">
        <div class="col-12 contact">
            <h3>Travis McFarlane</h3>
            <a href="mailto:travis.mcfarlane@gmail.com">travis.mcfarlane@gmail.com</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 contact">
            <h3>Li Wang</h3>
            <a href="mailto:li.wang@canada.ca">li.wang@canada.ca</a>
        </div>
    </div>
      
    <div class="row">
        <div class="col-12 contact">
            <h3>Statistics Canada</h3>
            <a href="mailto:STATCAN.infostats-infostats.STATCAN@canada.ca">STATCAN.infostats-infostats.STATCAN@canada.ca</a>
            
        </div>
    </div>

    <div class="google-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2801.1693207048625!2d-75.7362994491585!3d45.40592507899775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce0414f0cae449%3A0xb515554de22c73c6!2sMain+Building!5e0!3m2!1sfr!2sca!4v1504617326205" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>