@{
    ViewData["Title"] = "Contact";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <p>Our agents are available Monday to Friday (except holidays) from 8:30 am to 4:30 pm East Time.</p>

    <address>
        <h3>Email</h3>
        <a href="mailto:STATCAN.infostats-infostats.STATCAN@canada.ca">STATCAN.infostats-infostats.STATCAN@canada.ca</a>

        <h3>Telephone</h3>
        (toll free) 1-800-263-1136<br />
        (international) 425.555.0100<br />

        <h3>Fax</h3>
        1-514-283-9350<br />

        <h3>TTY</h3>
        1-800-363-7629<br />

        <h3>Mail</h3>
        Statistics Canada¸<br />
        150 Tunney's Pasture Driveway<br />
        Ottawa, Ontario<br />
        K1A 0T6<br />
    </address>

    <div class="google-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2801.1693207048625!2d-75.7362994491585!3d45.40592507899775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce0414f0cae449%3A0xb515554de22c73c6!2sMain+Building!5e0!3m2!1sfr!2sca!4v1504617326205" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>