@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Data sources";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

http://www.oxfordmartin.ox.ac.uk/downloads/academic/The_Future_of_Employment.pdf
