@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Data sources";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>

    <ul>
        <li>Bureau of Labour Statistics (US)</li>
        <li>Economic and Social Development Canada (ESDC)</li>
        <li>Statistics Canada, CANSIM</li>
        <li>UNStats</li>
        <li>World Bank Data</li>
    </ul>
</div>
