
@{
    ViewData["Title"] = "Captain Career";
}

<div class="container">
    <div class="row about">
        <h1>Captain Career</h1>
        
        <p>
           We aim to show how one <b>indicator (8.6.1): <i>proportion of youth (15 to 24 years) not in education, employment, or training</i></b>, can relate to everyday living.  
            <b>The indicator negatively correlated with the economic growth,</b> and through the tool, youth and job seekers will see the big picture of their career prospects, and how it relates to ‘productive and decent work’ as well as to ‘sustain, inclusive and sustainable economic growth’, of Goal 8.
        </p>
        <p>
            This tool was created to help non-data user see just how easy it is to create and tell a story from data. Our story is centred around the United Nations Sustainable Development Goal 8:
        </p>
        <p class="indicator">
            Promote sustained, inclusive and sustainable economic growth, full and productive employment and decent work for all Promote sustained, inclusive and sustainable economic growth, full and productive employment and decent work for all
        </p>
    </div>

    <div class="row">
        <div class="col-12">
            <img class="comicimg" src="~/images/Page1.png" />
            <img class="comicimg" src="~/images/Page2.png" />
            <img class="comicimg" src="~/images/Page3.png" />
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="launch">
                <a href="/review"><img class="launch" src="~/images/launchbutton.png" /></a>
            </div>
        </div>
    </div>
</div>


@section Scripts 
{

}
