@model StephJob.Models.IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<div id="slides-container">
    <div class="skrollable skrollable-between" id="slides">

        <div class="row" id="slide-1">
            <div class="container">
                <h1>Industry and occupation selector!</h1>
                <p class="lead">lorem asdf asdf asdf asdf sadf asdf asdf asdf asdf asdf asdf sadfasdf asdf asdf asdf asdf asdf sadf asdf asdf asdf asdf asdf asdf sadfasdf asdf</p>

                <form>
                    <div class="form-group">
                        <label for="Industry">Industry</label><br />
                        <select asp-for="Industry" asp-items="Model.Industries"></select>
                    </div>
                    <div class="form-group">
                        <label for="Occupation">Occupation</label><br />
                        <select asp-for="Occupation" asp-items="Model.Occupations"></select>
                    </div>
                </form>
            </div>
        </div>

        <div data-bottom-top="background-color: rgb(255,0,0);"
             data-center-center="background-color: rgb(0,0,255);">
        </div>

        <!-- Above there must be enough content to push this below the fold -->
        <div class="row" id="slide-2"
             data-center-top="opacity:0; background-color: rgb(255,0,0);"
             data-top-top="opacity:1; background-color: rgb(0,0,255);">

            <div class="container">
                <h1>Employment Prospects</h1>
                <p class="lead">lorem asdf asdf asdf asdf sadf asdf asdf asdf asdf asdf asdf sadfasdf asdf asdf asdf asdf asdf sadf asdf asdf asdf asdf asdf asdf sadfasdf asdf</p>
                <canvas id="bar-chart" width="800" height="450"></canvas>
            </div>
        </div>

        <div class="row" id="slide-3"
             data-center-top="opacity:0; left:-200%;"
             data-top-top="opacity:1; left:0;">
            <div class="container">
                <h1>Employment Prospects</h1>
                <p class="lead">lorem asdf asdf asdf asdf sadf asdf asdf asdf asdf asdf asdf sadfasdf asdf asdf asdf asdf asdf sadf asdf asdf asdf asdf asdf asdf sadfasdf asdf</p>
            </div>
        </div>

        <div class="row" id="slide-4"
             data-center-top="opacity:0; left:-200%;"
             data-top-top="opacity:1; left:0;">
            <div class="container">
                <h1>Industry trend graph, compared with GDP</h1>
                <p class="lead">lorem asdf asdf asdf asdf sadf asdf asdf asdf asdf asdf asdf sadfasdf asdf asdf asdf asdf asdf sadf asdf asdf asdf asdf asdf asdf sadfasdf asdf</p>
            </div>
        </div>

        <div class="row" id="slide-5"
             data-center-top="opacity:0;"
             data-top-top="opacity:1;">
            <div class="container">
                <h1>Environmental Outlook</h1>
                <p class="lead">lorem asdf asdf asdf asdf sadf asdf asdf asdf asdf asdf asdf sadfasdf asdf asdf asdf asdf asdf sadf asdf asdf asdf asdf asdf asdf sadfasdf asdf</p>
            </div>
        </div>

        <div class="row" id="slide-6"
             data-center-top="opacity:0;"
             data-top-top="opacity:1;">
            <div class="container">
                <h1>Infograph about all the data points</h1>
                <p class="lead">lorem asdf asdf asdf asdf sadf asdf asdf asdf asdf asdf asdf sadfasdf asdf asdf asdf asdf asdf sadf asdf asdf asdf asdf asdf asdf sadfasdf asdf</p>
            </div>
        </div>

        <div class="row" id="slide-7"
             data-center-top="opacity:0;"
             data-top-top="opacity:1;">
            <div class="container">
                <h1>Contact / Bio</h1>
                <p class="lead">lorem asdf asdf asdf asdf sadf asdf asdf asdf asdf asdf asdf sadfasdf asdf asdf asdf asdf asdf sadf asdf asdf asdf asdf asdf asdf sadfasdf asdf</p>
            </div>
        </div>

        <div class="row" id="slide-8"
             data-center-top="opacity:0;"
             data-top-top="opacity:1;">
            <div class="container">
                <h1>Data sources</h1>
                <p class="lead">lorem asdf asdf asdf asdf sadf asdf asdf asdf asdf asdf asdf sadfasdf asdf asdf asdf asdf asdf sadf asdf asdf asdf asdf asdf asdf sadfasdf asdf</p>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        window.onload = function () {
            new Chart(document.getElementById("bar-chart"), {
                type: 'bar',
                data: {
                    labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
                    datasets: [
                        {
                            label: "Population (millions)",
                            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                            data: [2478, 5267, 734, 784, 433]
                        }
                    ]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: 'Predicted world population (millions) in 2050'
                    }
                }
            });

            var s = skrollr.init();

            if (s.isMobile()) {
                s.destroy();
            }
        };
    </script>
}
