@model StephJob.Models.IndexModel
@{
    ViewData["Title"] = "Captain Career";
}

<div>


            @*<div class="col-4 text-center">
                <div class="row icon top">
                    <div class="col-12">
                        <img src="~/images/CAPTAIN2.png" class="pull-right"/>
                    </div>
                </div>
                <div class="row icon">
                    <div class="col-12">
                        <img src="~/images/CAPTAIN2.png" class="pull-right" />
                    </div>
                </div>
            </div>*@

            <div class="iframe-video">
                    <iframe width="500" height="300" src="https://www.youtube.com/embed/DB1jGHc8LXA" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="launch">
                <a href="/" class="btn btn-danger btn-lg"> <i class="fa fa-rocket fa-2x header-icon" aria-hidden="true"></i>Launch</a>
            </div>


        @*<div class="row">
            <div class="col-12 text-center launch">
                <div class="text-center"><a href="/" class="btn btn-success btn-lg"> <i class="fa fa-rocket fa-3x header-icon" aria-hidden="true"></i>Launch</a> </div>
            </div>
        </div>*@


</div>

@section Scripts 
{

}
