@model StephJob.Models.ReviewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Review";
}

<!-- Main body -->
<div class="bgimg-1">
    <div class="caption">
        <div class="container box-white">
            <h1>Pssst!</h1>
            <form>
                <div class="form-group">
                    <label for="Occupation">What is your dream job?</label><br />
                    <select asp-for="Occupation" asp-items="Model.Occupations" placeholder="Pick an occupation" class="select-style"></select><a href="http://noc.esdc.gc.ca/English/NOC/OccupationIndex.aspx?ver=16" target="_blank">?</a>
</div>
                <div class="form-group">
                    <label for="Industry">In which industry?</label><br />
                    <select asp-for="Industry" asp-items="Model.Industries" placeholder="Pick an industry" class="select-style"></select><a href="http://www23.statcan.gc.ca/imdb/p3VD.pl?Function=getVD&TVD=118464" target="_blank">?</a>
                </div>
            </form>
        </div>
        <i class="fa fa-arrow-down fa-5x" aria-hidden="true"></i>
    </div>
</div>

<div class="slide">
    <div class="container" data-center="opacity: 1"  data-center-top="opacity: 0">
        <div class="row">
            <div class="col-md-6">
                <h1>Employment Prospects</h1>
                <p class="lead">Projection of changes in the number of people working as <span id="empProspect">accommodation service managers</span> and projections of retirements.</p>
                <hr />
                <h2><span id="earningByWeek"></span> in average weekly earnings in this industry.</h2>
                <hr />
                <h2>For every vacant position, there are/is <span id="unemploymentJobVacanciesRatio"></span> unemployed persons in this industry.</h2>
            </div>
            <div class="col-md-6">
                <canvas id="empProspectChart"></canvas>
                <canvas id="retirement-projection-chart"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="bgimg-2">
    <div class="caption-35">
        <i class="fa fa-arrow-down fa-5x" aria-hidden="true"></i>
    </div>
</div>

<div class="slide">
    <div class="container" data-center="opacity: 1"  data-center-top="opacity: 0">
        <div class="row">
            <div class="col-md-6">
                <h1>Industry Trend</h1>
                <p class="lead">The <span id="industryName">accommodation and food services </span> industry represents approximately <span id="industryProportion">NA</span>% of the total economy.</p>
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">What is the GDP?</button>
            </div>
            <div class="col-md-6">
                <canvas id="gdp-chart"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="bgimg-2">
    <div class="caption-35">
        <i class="fa fa-arrow-down fa-5x" aria-hidden="true"></i>
    </div>
</div>

<div class="slide">
    <div class="container" data-center="opacity: 1"  data-center-top="opacity: 0">
        <h1>Environmental Outlook</h1>
        <h2><span id="greenGoodsAndServices"></span>% of the total employment in the industry provides green goods and services.</h2>
        <hr />
        <h2>The industry represents <span id="physicalFlowAcccount"></span>% of the physical flow account for greenhouse gas emissions (GEA) by year in kilotonnes.</h2>
    </div>
</div>

<div class="bgimg-3">
    <div class="caption-35">
        <i class="fa fa-arrow-down fa-5x" aria-hidden="true"></i>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">What is the GDP?</h4>
            </div>
            <div class="modal-body">
                <iframe width="640" height="360" src="https://www.youtube.com/embed/DB1jGHc8LXA?ecver=1" frameborder="0" allowfullscreen></iframe>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@*<div class="slide">
        <div class="row">
            <div class="col-3">
                <h3><a href="~/">Captain Career</a></h3>
            </div>
            <div class="col-3">
                <h4>Features</h4>
                <a href="~/Review">Review</a><br />
                <a href="~/Data">Data source</a>
            </div>
            <div class="col-3">
                <h4>Company</h4>
                <a href="~/About">About</a><br />
                <a href="~/Contact">Contact</a><br />
            </div>
            <div class="col-3">
                <h4>Follow</h4>
                <a href="https://github.com/FrancisGrignon/StephJob">Github</a><br />
            </div>
        </div>
    </div>*@


<!-- GDP Modal -->


@section Scripts
    {
    <script type="text/javascript">
        window.onload = function () {
            var s = skrollr.init({
                forceHeight: false,
                render: function (data) {
                    //Log the current scroll position.
                    console.log(data.curTop);
                }
            });

            //if (s.isMobile()) {
            //    s.destroy();
            //}

            $("#myModal").on('hidden.bs.modal', function (e) {
                $("#myModal iframe").attr("src", $("#myModal iframe").attr("src"));
            });

            showEmploymentProspectChart();
            //RefreshRetirementProjectionChart();

            var backgroundLoop = 0;

            $(document).on('change', '#Industry', function () {
                //$('#industryImage').attr('src', '/images/welding.jpg');
       

                var item = $('.bgimg-1');

                item.fadeOut();
                var industryid = $('#Industry').val();
                var u = 'url(/images/' + industryid + '-1.png)';
                item.css('background-image', u);
                item.fadeIn();

                var item2 = $('.bgimg-2');
                var industryid = $('#Industry').val();
                var u = 'url(/images/' + industryid + '-2.png)';
                item2.css('background-image', u);
           
                var item3 = $('.bgimg-3');
                var industryid = $('#Industry').val();
                var u = 'url(/images/' + industryid + '-3.png)';
                item3.css('background-image', u);

                var t = $("#Industry option:selected").text();
                $("#industryName").text(t);
                
            });

            $(document).on('change', '#Occupation', function () {
                var t = $("#Occupation option:selected").text();
                $("#empProspect").text(t);
                showEmploymentProspectChart();
                RefreshRetirementProjectionChart();
                var item = $('.bgimg-1');

                item.fadeOut();
                item.fadeIn();

            });
        };

        function GetOccupationId() {
            var occupationId = $('#Occupation').val();
            console.info(occupationId);
            return occupationId;
        }

        var retirementProjectionChart;
        var retirementProjectionInitialized = false;


        function RefreshRetirementProjectionChart() {
            var id = GetOccupationId();
            $.getJSON("/api/GetRetirementProjectionChart", { id: id }, function (data) {
                if (retirementProjectionInitialized) {
                    retirementProjectionChart.data.datasets[0].data = data.data;
                    retirementProjectionChart.update();
                }
                else {
                    retirementProjectionChart = new Chart(document.getElementById("retirement-projection-chart"), {
                        type: 'bar',
                        data: {
                            labels: data.labels,
                            datasets: [
                                {
                                    label: "Retirement",
                                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                                    data: data.data
                                }
                            ]
                        },
                        options: {
                            legend: { display: false },
                            title: {
                                display: true,
                                text: 'Retirement Projection'
                            }
                        }
                    });
                    retirementProjectionInitialized = true;
                }
            });
        }
        
        var employmentProspectChart;
        var employmentProspectChartInitialized = false;

        function showEmploymentProspectChart() {
            var v = $("#Occupation").val();

            $.getJSON("/api/GetEmploymentProspectChart", { value: v }, function (data) {

                if (employmentProspectChartInitialized) {

                    employmentProspectChart.data.datasets[0].data = data.data;
                    employmentProspectChart.update();
                }
                else {

                    employmentProspectChart = new Chart(document.getElementById("empProspectChart"), {
                        type: 'bar',
                        data: {
                            labels: data.labels,
                            datasets: [
                                {
                                    label: "Year",
                                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#c44196", "#313895", "#469531", "#e4d818", "#2dd2d0", "#118a11"],
                                    data: data.data
                                }
                            ]
                        },
                        options: {
                            legend: { display: false },
                            title: {
                                display: true,
                                text: 'Employment Projection'
                            }
                        }
                    });
                    employmentProspectChartInitialized = true;
                }
            });
        }

        function GetIndustryId() {
            return $('#Industry').val();
        }


        var gdpChart;
        var gdpInitialized = false;

        function RefreshGdpChart() {
            var id = GetIndustryId();

            $.getJSON("/api/GetGdpChart", { id: id }, function (data) {
                console.info(data);
                console.info(data.total);
                console.info(data.industry);

                if (gdpInitialized) {
                    gdpChart.data.datasets[0].data = data.industry;
                   // gdpChart.data.datasets[1].data= data.industry;
                    gdpChart.update();
                }
                else {
                    gdpChart = new Chart(document.getElementById("gdp-chart"), {
                        type: 'line',
                        data: {
                            labels: data.labels,
                            datasets: [
                                {
                                    label: "Industry GDP",
                                    backgroundColor: ["#8e5ea2"],
                                    data: data.industry,
                                    fill: true
                                }]
                        },
                        options: {
                            legend: { display: false },
                            title: {
                                display: true,
                                text: 'Industry GDP'
                            }
                        }
                    });

                    gdpInitialized = true;
                }
            });
        }

        function RefreshIndustryIndicators() {
            var id = GetIndustryId();

            $.getJSON("/api/GetIndustryIndicators", { id: id }, function (data) {
                console.info(data);

                $('#industryName').text(data.industryName);
                $('#industryProportion').text(data.industryProportion);
                $('#earningByWeek').text(data.earningByWeek);
                $('#greenGoodsAndServices').text(data.greenGoodsAndServices);
                $('#unemploymentJobVacanciesRatio').text(data.unemploymentJobVacanciesRatio);
                $('#physicalFlowAcccount').text(data.physicalFlowAcccount);
            });
        }

        $(document).on('change', '#Occupation', function () {
            RefreshRetirementProjectionChart();
        });

        $(document).on('change', '#Industry', function () {
            RefreshGdpChart();
            RefreshIndustryIndicators();
        });

        RefreshRetirementProjectionChart();
        RefreshGdpChart();
        RefreshIndustryIndicators();
    </script>
}
